.logoImg {
  width: 70px;
  margin: 0 auto;
}
.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  /* background: #e9e9e9; */
  background-image: url("https://wallpaperaccess.com/full/1285952.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: grey; */
  display: flex;
}
.loginContainer {
  padding: 30px 30px;
  margin: auto;
  width: 100%;
  max-width: 360px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  position: relative;
}
.mainLabel {
  align-self: center;
  color: #191919;
  font-family: "Merienda";
  margin: 14px 0;
  display: block;
  font-size: 30px;
  line-height: 1;
}
.authLabel {
  color: #425277;
  font-family: "Merienda";
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}
.authInput {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(129, 129, 129, 0.51);
  outline: none;
  font-size: 24px;
  /* padding: 10px; */
  /* background: rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  color: #000;
  font-weight: 900;
  letter-spacing: 1px;
  transition: 0.5s;
}
.authInput::placeholder {
  color: #b2b9c7;
}
.authInput:focus {
  border-bottom: 1px solid rgba(250, 203, 10, 0.9);
}
.btnContainer {
  width: 100%;
  padding: 24px 0;
}
.authButton {
  border: none;
  border-radius: 10px;
  outline: none;
  width: 100%;
  padding: 10px 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  background: #facb0a;
  cursor: pointer;
  transition: 0.3s;
}
.authButton:hover {
  background: rgb(243, 190, 16);
}
.authP {
  margin: 14px 0 0 0;
  text-align: center;
  color: #333;
  cursor: pointer;
}
.authSpan {
  color: #ffcc00;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.authSpan:hover {
  color: rgb(238, 46, 46);
}
.errorMsg {
  color: #eebb4f;
  font-size: 16px;
}
.goBack {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #939cb0;
  border-radius: 100%;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 35px;
  left: -15px;
  font-size: 36px;
  font-weight: 100;
  box-shadow: 10px 10px 35px -9px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 10px 10px 35px -9px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 35px -9px rgba(0, 0, 0, 0.51);
}
/* .goBack::before {
  content: "<";
} */
.goBack-img {
  width: 23px;
  height: 23px;
  transform: rotate(180deg);
}
.goBack:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}
